<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Christmas Karma</title>
  <link rel="stylesheet" href="CSS/normalize.css" />
  <link rel="stylesheet" href="CSS/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Skranji&display=swap" rel="stylesheet" />
</head>

<body>

  <video class="background-video" autoplay muted loop>
    <source src="/media/SantaCity.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <!-- Credit text for the video -->
  <p style="text-align: center; font-size: 12px; color: #fff; margin-top: 10px;">
    Video Credit: 3D animation video by Quince Creative -
    <a href="https://quincemedia.com" style="color: #fff; text-decoration: underline;" target="_blank">
      quincemedia.com
    </a>
  </p>

  <header>
    <a href="/" style="text-decoration: none;">
      <h1>Christmas Karma</h1>
    </a>
    <nav>
      <a href="/profile">Profile</a>
      <a href="/lists">View The Lists!</a>

      <!-- Add the login/logout link based on the user's authentication status -->
      <a href="#" id="logout"> {{#if loggedIn}}Logout{{else}}Login{{/if}} </a>

    </nav>
  </header>

  <!-- Container for the main content -->
  <div class="main-container">
    <main class="main-content">
      <!-- Render the sub layout -->
      {{{body}}}
    </main>
  </div>

  <!-- Naughty Notifier -->
  <footer>
    <div id="naughty-notifier">
      <h2>Naughty Notifier</h2>
      <label class="switch">
        <input type="checkbox" id="toggleSwitch" />
        <span class="slider"></span>
      </label>
      <p id="naughtyCounterText">Number of Naughty Names: </p>
      <p id="naughtyCounter"></p>
    </div>
  </footer>

  <!-- Include Naughty Notifier JavaScript -->
  <script src="/js/naughty-notifier.js"></script>

  <!-- Include logout script -->
  <script src="/js/logout.js"></script>

</body>

</html>