<!-- Updated HTML -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christmas Karma</title>
    <link rel="stylesheet" href="CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Skranji&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" style="text-decoration: none;"><h1>Christmas Karma</h1></a>
    </header>
    <nav>
      <a href="/profile">Profile</a>
      <a href="/lists">View The Lists!</a>
      <a href="/login">Login</a>
    </nav>
    <!-- Container for the video background -->
    <div class="video-container">
      <video class="background-video" autoplay muted loop>
        <source src="images/christmas48.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <!-- Container for the main content -->
    <div class="main-container">
      <main class="main-content">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
    </div>
    <footer>
    </footer>
  </body>
</html>