<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Christmas Karma</title>
  <link rel="stylesheet" href="CSS/normalize.css" />
  <link rel="stylesheet" href="CSS/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Skranji&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="background-video-container">
    <video class="background-video" autoplay muted loop>
      <source src="/media/SantaCity.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <header>
      <nav>
        <a href="/login">Login</a>
        <a href="/profile">Profile</a>
        <a href="/lists">View Santa's List!</a>
        <a href="/chart">View Pie Chart</a>
        <a href="#" id="logout">Logout</a>
      </nav>
    </header>

    <div class="ck-wrapper">
      <a href="/" style="text-decoration: none;">
        <img class="ck-size" src="/media/CK.png" alt="Christmas Karma Logo">
      </a>
    </div>


    <div class="main-container">
      <main class="main-content">
        {{{body}}}
      </main>
    </div>

    <p class="video-credit">
      Video Credit: 3D animation video by Quince Creative -
      <a href="https://quincemedia.com" target="_blank">quincemedia.com</a>
    </p>
  </div>

  <footer class="main-footer">
    <div id="naughty-notifier">
      <h2>Naughty Notifier</h2>
      <label class="switch">
        <input type="checkbox" id="toggleSwitch" />
        <span class="slider"></span>
      </label>
      <p id="naughtyCounterText">Number of Naughty Names: </p>
      <p id="naughtyCounter"></p>
    </div>
  </footer>

  <script src="/js/naughty-notifier.js" defer></script>
  <script src="/js/logout.js" defer></script>
</body>

</html>