<!-- homepage.handlebars -->

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Christmas Karma Homepage</title>
  <style>
    /* Default styles */
    body {
      font-size: 16px;
      /* Set your default font size */
    }

    h2 {
      font-size: 2em;
      /* Set the initial heading size */
    }

    h3 {
      font-size: 1.5em;
      /* Set the initial subheading size */
    }

    img {
      max-width: 100%;
      /* Make the image responsive */
      height: auto;
    }

    /* Media query for smaller screens */
    @media only screen and (max-width: 600px) {
      body {
        font-size: 14px;
        /* Adjust font size for smaller screens */
      }

      h2 {
        font-size: 1.5em;
        /* Adjust heading size for smaller screens */
      }

      h3 {
        font-size: 1.2em;
        /* Adjust subheading size for smaller screens */
      }
    }
  </style>
</head>

<body>
  <h2>Welcome to Christmas Karma!</h2>
  <h3>Check if you are on Santa's list.</h3>
  <!-- Specific content for the homepage goes here -->
  <img src="/media/best.gif" alt="Doing Your Best" />
</body>

</html>