<!-- homepage.handlebars -->

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Christmas Karma Homepage</title>
</head>

<body>
  <h2>Welcome to Christmas Karma!</h2>
  <h3>Check how you're doing on Santa's lists.</h3>
  <!-- Specific content for the homepage goes here -->
  <img src="/media/best.gif" alt="Doing Your Best" />
</body>

</html>