<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Naughty/Nice List</title>
  <style>
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .scroll-container {
      max-height: 400px;
      /* Set a fixed height for the container box */
      overflow-y: auto;
      /* Enable vertical scrolling */
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      margin-bottom: 20px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      border: 1px solid #ccc;
    }

    /* Style for the country */
    .country {
      font-style: italic;
      margin-right: 20px;
      text-transform: uppercase;
    }

    /* Style for the child's name */
    .child-name {
      font-weight: bold;
      text-align: center;
      flex-grow: 1;
      text-transform: uppercase;
    }

    /* Style for the Naughty/Nice label */
    .naughty-nice-nice {
      font-weight: bold;
      color: green;
      margin-left: 20px;
    }

    .naughty-nice-naughty {
      font-weight: bold;
      color: red;
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <h1>Naughty/Nice List</h1>

  <div class="scroll-container">
    <ul>
      {{#each children}}
      <li>
        <span class="country">
          {{childCountry}}
        </span>
        <span class="child-name {{#if childNiceness}}naughty-nice-nice{{else}}naughty-nice-naughty{{/if}}">
          {{childName}}
        </span>
        <span class="naughty-nice">
          {{#if childNiceness}}Nice{{else}}Naughty{{/if}}
        </span>
      </li>
      {{/each}}
    </ul>
  </div>
</body>

</html>